name: Deploy Components to Mainnet
on:
  push:
    branches: [main]
concurrency: main # do not allow parallel execution
jobs:
  deploy-mainnet:
    uses: bos-cli-rs/bos-cli-rs/.github/workflows/deploy-mainnet.yml@master
    with:
      deploy-account-address: monkeypatcher.near
      signer-account-address: monkeypatcher.near
      signer-public-key: ed25519:2Qhd4nhX8DkRzz7VVWsT8f5L1xNuh9ZmECsfbRBBTBoq
    secrets:
      SIGNER_PRIVATE_KEY: ${{ secrets.SIGNER_PRIVATE_KEY }}
